*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.container{
	width:90%;
	margin:0px auto;
}
.row{
	display:flex;
	flex-wrap:nowrap;
}
.col1{
	width:40%;
	padding:20px;
	}
.col2{
	
	width:60%;
	padding:10px 10px;
}
.flex1{
	display:flex;
	flex-wrap:no-wrap;
	font-size:15px;
	gap:4%;
	padding-top:20px;
	padding-left:20px;
}
.flex2{
	display:flex;
	flex-wrap:no-wrap;
	font-size:15px;
	gap:4%;
	padding-top:20px;
		padding-left:20px;
}
.flex3{
	display:flex;
	flex-wrap:no-wrap;
	font-size:15px;
	gap:4%;
	padding-top:20px;
		padding-left:20px;
}
.flex div{
	font-size:15px;
	display:flex;
	flex-wrap:wrap;
	gap:4%;
	padding-top:20px;
	padding-left:0px;
}

.flex4{
	font-size:15px;
	display:flex;
		padding-left:20px;
	flex-wrap:no-wrap;
	gap:4%;
	padding-top:20px;
}

.icon{
	color:blue;
	font-size:50px;
}
	